---
import teachersJson from "@data/teachers.json";
import VerifiedIcon from "@assets/VerifiedIcon.astro";
import StarIcon from "@assets/StarIcon.astro";
import { Img } from "astro-imagetools/components";

const teachers = teachersJson.contents;
type Props = {
  teacher: (typeof teachers)[number];
};

const { teacher } = Astro.props as Props;
---

<figure class="flex flex-wrap border bg-white rounded-xl shadow-xl">
  <!-- Teacher Avatar -->
  <div class="w-full pt-4 lg:p-4 lg:w-[unset]">
    <div
      class="w-32 h-32 mx-auto shrink-0 rounded-full overflow-hidden border-4 border-blue-500"
    >
      <Img breakpoints={[144]} src={teacher.avatar} alt={teacher.displayName} />
    </div>
  </div>

  <!-- Description -->
  <figcaption class="p-4 flex-1 text-center lg:text-start">
    <!-- Title -->
    <header class="flex justify-center lg:justify-start">
      <h3>{teacher.displayName}</h3>
      <div class="h-6 w-6 text-green-500">
        <VerifiedIcon />
      </div>
    </header>

    <!-- Teacher Alias and Rating -->
    <section class="mt-2">
      <div class="flex justify-center lg:justify-start">
        <p>{teacher.alias}</p>

        <div class="w-6 h-6 text-yellow-500">
          <StarIcon />
        </div>
        <p class="text-yellow-500">{teacher.rating}</p>
      </div>
    </section>

    <!-- Teacher About me -->
    <section class="mt-2">
      <p class="line-clamp-1">{teacher.aboutMe}</p>
    </section>

    <!-- Body Content -->
    <section class="mt-2">
      <p class="line-clamp-2 text-gray-500 lg:line-clamp-1">
        {teacher.videoSubtitle}
      </p>
    </section>

    <!-- Footer -->
    <footer class="justify-end mt-6 items-center lg:flex">
      <p class="lg:pr-2">
        {teacher.price}
        <span class="text-gray-500">/{teacher.time}</span>
      </p>
      <a
        class="bg-[#FF4438] block border-2 border-[#ff4438] py-1 px-[2rem] rounded-full text-white transition hover:text-[#ff4438] hover:bg-white"
        href={`/teachers/${teacher.id}/`}
      >
        了解更多
      </a>
    </footer>
  </figcaption>
</figure>
