---
import teachersJson from "@data/teachers.json";
import VerifiedIcon from "@assets/VerifiedIcon.astro";
import StarIcon from "@assets/StarIcon.astro";
import { Img } from "astro-imagetools/components";

const teachers = teachersJson.contents;
type Props = {
  teacher: (typeof teachers)[number];
};

const { teacher } = Astro.props as Props;
---

<figure
  class="flex flex-wrap border p-4 bg-p-50 border-p-700 rounded-xl shadow-xl"
>
  <!-- Teacher Avatar -->
  <div class="w-1/2 mx-auto xl:w-1/3">
    <div class="w-full relative overflow-hidden rounded-xl pb-[100%]">
      <div class="absolute w-full h-full">
        <Img
          layout="fill"
          breakpoints={[144]}
          src={teacher.avatar}
          alt={teacher.displayName}
        />
      </div>
    </div>
  </div>

  <!-- Description -->
  <figcaption
    class="p-4 space-y-4 w-full flex flex-col text-center xl:text-start xl:w-2/3 xl:py-0"
  >
    <!-- Title -->
    <header>
      <h3
        class="flex text-xl font-bold items-center justify-center xl:justify-start"
      >
        <span>
          {teacher.displayName}
        </span>
        <span class="block h-6 w-6 text-green-500"><VerifiedIcon /></span>
      </h3>

      <section class="flex justify-center xl:justify-start">
        <p class="text-gray-500">{teacher.alias}</p>
        <div class="w-6 h-6 text-yellow-500">
          <StarIcon />
        </div>
        <p class="text-yellow-500">{teacher.rating}</p>
      </section>
    </header>

    <!-- Teacher About me -->
    <section class="mt-2">
      <p class="line-clamp-3">
        {teacher.videoSubtitle}
      </p>
    </section>

    <!-- Footer -->
    <footer class="mt-auto justify-end items-center xl:flex">
      <p class="lg:pr-2">
        {teacher.price}
        <span class="text-gray-500">/{teacher.time}</span>
      </p>
      <a
        class="bg-p block border-2 border-p py-2 px-8 rounded-md text-white transition hover:text-p hover:bg-white"
        href={`/teachers/${teacher.id}/`}
      >
        了解更多
      </a>
    </footer>
  </figcaption>
</figure>
