---
import MainLayoutCh from "../layouts/MainLayoutCh.astro";
import landingJson from "@data/landingPage.json";

//section 1
import ImageCard from "../components/landing-page/ImageCard.astro";
//secont 3
import ResourceCard from "../components/landing-page/ResourceCard.astro";

import {liteImageConfig} from "../scripts/liteImageConfig";
---

<MainLayoutCh currentPage="Home" config={liteImageConfig}>

  
  

  <div class="">
    <!--Section one-->
    <div class="mb-2 container mx-auto rounded-b-[1.75rem] sm:rounded-[1.75rem] overflow-hidden lg:rounded-[3.75rem] lg:mt-10 lg:w-10/12 lg:mx-auto">
      <div class="  bg-esl-c-2 flex flex-1 justify-between flex-col-reverse lg:rounded-tr-none lg:flex-row">
        <div class="  p-10 bg-esl-c-2 lg:w-5/12">
          <div class="text-esl-4">
            <span class="text-esl-c-3">用英语的力量发现世界</span>
            
          </div>
          <div class="">
            <div class="mt-6 text-esl-2 text-white">
              欢迎来到 ABC English英语教学网站，在这里我们致力于帮助您实现语言学习目标。无论您是为了工作、旅行还是个人发展而提高英语能力，我们拥有经验丰富、资质齐全的教师团队，将为您在每一步的学习提供帮助。<br/>
              我们提供一个平台，让教师和学生可以在一个自由市场的环境下相互联系和参与。教师可以向广大学员展示他们的技能和专业知识，而学生则有机会浏览和选择最适合他们需求和偏好的教师。我们的平台为教育提供了一个透明和开放的市场，让教师和学生都可以自由参与并从知识和学习经验的交流中获益。
            </div>
          </div>
        </div>
        <!--clipped image -->
        <div 
        class={
          'landing-clipped min-h-[15rem] bg-cover bg-landing ' + (liteImageConfig.lite? liteImageConfig.placeholder+"":"bg-[url('./images/teaching.jpg')]") + 
          " lg:w-7/12"
          }>
          
          
        </div>
        
        
        
      </div>

    </div>
    <!--Section two -->
    <div class="my-12 flex justify-center container mx-auto lg:mt-10 lg:w-10/12 ">
      <div class="px-12 flex flex-col-reverse w-10/12 lg:flex-row">
        <div class="space-y-10 lg:space-y-0 lg:w-5/12">
          <!--dashed line -->
          <div class="hidden w-[2.5rem] h-[5px] rounded-full bg-esl-c-3
          lg:block" ></div>
          <div class="text-white ">
            <p class="text-esl-4 text-center lg:text-left">教师队伍 <span class="w-[2.5rem] h-[5px] rounded-full bg-white inline-block"></span> <span>寻找最合适你的老师</span></p>
          </div>
          <!--teacher list collection -->
          <div class="space-y-4">
            <!--teacher list item -->
            {landingJson.teachers.map((teacher) =>{
                
            <div>
              <div class="teacher-card">
                <div class="left-side">
                    <img class="object-fit" src="" alt={teacher.name} src={teacher.image}/>
                    <div class="text-[#FFCC3E]"><span class="star-image"></span>{teacher.rating}<span></span></div>
                </div>
                <div class="right-side">
                  <div class="flex justify-between">
                    <div class="nameAndVerified">
                      <span class="name">{teacher.name}</span>
                      <span class="verification">{teacher.verified}</span>
                    </div>
                    <div class="favorites"><span class="favoriteIconOff"></span><span class="favoriteIconOn"></span></div>
                  </div>
                  <div><span class="occupation">{teacher.occupation}</span></div>
                  <div><span class="shortDesc">{teacher.shortDesc}</span></div>
                  <div>
                    <span class="longDesc">
                      <span>{teacher.longDesc}</span>
                      <span class="descVisibility">
                        <span>See More</span>
                        <span>See Less</span> 
                      </span>  
                    </span>
                  </div>
                  <div class="payRate">
                    <div class="payDefinition">{teacher.rate}</div>
                    <button class="reserve text bg-[#FF4438] p-4 rounded-full text-white ">预约</button>
                  </div>
                </div>
              </div>
              <div>
                <!--youtube on hover -->
              </div>
            </div>
              
            })}
            
            
          </div>
        </div>
        
      </div>
    </div>
    <!--Section three -->
    <div
      class="rounded-[1.75rem] mb-12 overflow-hidden  container mx-auto
      lg:rounded-[3.75rem] lg:mt-10 lg:w-10/12 lg:mx-auto"
    >
      <div class="bg-white">
        <!--first -->
        <div>
          
          <div class=" py-12 w-10/12 mx-auto ">
            <div class="hidden w-[2.5rem] h-[5px] rounded-full bg-esl-c-3
          lg:block" ></div>
            <div class="text-esl-4">
              <span class="text-esl-c-1">教学资源</span>
            </div>
          </div>
        </div>
        
        <!--second -->
        <div class="w-10/12 flex justify-center mx-auto">
          <div class="w-full grid grid-cols-2 gap-12">
            {
              [
                {link:"#",image:"./images/new-concept.jpg",imageAlt:"新概念",text:"新概念"},
                {link:"#",image:"./images/cambridge-english-young-learners-flyers.jpg",imageAlt:"剑桥少儿英语",text:"剑桥少儿英语"},
                {link:"#",image:"./images/pep-english.jpg",imageAlt:"人教版英语",text:"人教版英语"},
                {link:"#",image:"./images/jijiao-english.jpg",imageAlt:"冀教版英语",text:"冀教版英语"},
                {link:"#",image:"./images/toefl.png",imageAlt:"托福",text:"托福"},
                {link:"#",image:"./images/ielts.png",imageAlt:"雅思",text:"雅思"},
              ].map((resource: any) => {
                return <ResourceCard resourceParameter={resource} config={liteImageConfig} />;
              })
            }
          </div>
        </div>
        <!--third  -->
        <div class="w-10/12  mx-auto space-y-[4rem]">
          <div>
            <div class="hidden w-[2.5rem] h-[5px] rounded-full bg-esl-c-3 
            lg:block " ></div>
            <div class="space-y-4 text-esl-2">
              <p class="text-esl-4 text-esl-c-2">Welcome to ABC English</p>
              <p>欢迎来到ABCEnglish，这是您学习英语的首选目的地。我们致力于为您提供优质的语言学习资源和专业的教学服务，帮助您实现英语学习目标。我们采用个性化的教学方法和创新的教学方式，致力于帮助您提高英语沟通能力。无论您是初学者还是高级学习者，我们的课程都可以根据您的个人需求和学习风格量身定制。</p>
              <p>我们的资深教师团队热情地帮助您在语言学习旅程中取得成功。我们认为学习英语应该是有趣、吸引人的和有效的，因此我们使用各种教学工具和资源来保持您的积极性并跟踪您的学习进度，包括多媒体课程、互动练习和真实对话。</p>
              <p>在ABCEnglish，我们也明白每个人的时间规划和学习需求都不同，因此我们提供灵活和经济实惠的选项，以适应您的时间规划和预算。从而进行一对一的专业辅导，我们有适合每个人的课程。所以，无论您是为了工作、旅行还是个人发展而想提高英语能力，我们将一直在您学习的每一步中帮助您。加入我们的学习社区，开始您的英语学习之旅吧。</p>
            </div>
            <div class="flex justify-center">
              <div class="w-10/12 space-y-10 pb-0 mx-auto justify-center
              lg:flex lg:space-x-3 lg:space-y-0 lg:pb-12 
              ">
                {
                  [{image:"./images/online-learning.jpg", title:"1对1教学",desc:"Follow your onw pace with the flexible , convinence, personalized learning",link:"#"},
                  {image:"./images/training.jpg", title:"教师培训",desc:"help teachers become more effective educators and to keep up with the latest developments in their field",link:"#"}].map((data)=> <ImageCard params={data} config={liteImageConfig}/>)
                }
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>

  <style>


     .landing-clipped{
      clip-path: none;
    }
    @media (min-width: 1024px){
      .landing-clipped{
        clip-path:polygon(0 0, 100% 0, 100% 100%, 63% 100%, 8% 56%)
      }
    }
   
    
  </style>
</MainLayoutCh>

