---
import teachersJson from "@data/teachers.json";
import ResourceCard from "../components/landing-page/ResourceCard.astro";
import { Img } from "astro-imagetools/components";
import TeacherListItem from "@components/landing-page/TeacherListItem.astro";
import MainLayout from "@layouts/MainLayout.astro";

const teachers = teachersJson.contents;
---

<MainLayout>
  <header class="sr-only">
    <h1>Homepage</h1>
  </header>

  <!-- Hero Section -->
  <section class="container my-8 xl:my-16">
    <header>
      <h2 class="sr-only">Hero section</h2>
    </header>

    <figure class="flex items-center flex-row-reverse flex-wrap">
      <div
        class="rounded-3xl w-full overflow-hidden self-stretch relative md:w-1/2"
      >
        <div class="w-full h-full md:absolute">
          <Img
            src="/images/teaching-english2.png"
            alt="Hero"
            layout="fill"
            breakpoints={{ count: 1, maxWidth: 768 }}
          />
        </div>
      </div>

      <figcaption
        class="w-full pr-4 pt-8 space-y-4 md:space-y-8 md:py-8 md:w-1/2 lg:py-16 xl:pr-20 xl:py-24"
      >
        <header>
          <h3 class="font-black text-2xl md:text-3xl lg:text-4xl xl:text-5xl">
            用英语的力量发现世界
          </h3>
        </header>

        <section>
          <p class="text-gray-600 lg:text-lg">
            在ABC
            English，我们致力于培养一个社区，科技、创新和教育专业知识的协同作用将赋予您英语的精湛掌握，为您创造无限机会，促进全球增长。
          </p>
        </section>

        <footer class="flex space-x-4 font-medium lg:text-lg">
          <a
            href="/signup"
            class="bg-p px-8 py-2.5 rounded-md text-white hover:bg-p-600"
          >
            注册
          </a>
          <a
            href="/login"
            class="px-8 py-2.5 rounded-md text-p transition hover:bg-p-100"
          >
            登录
          </a>
        </footer>
      </figcaption>
    </figure>
  </section>

  <!-- Teachers Section -->
  <section class="bg-p bg-opacity-10 py-16">
    <section class="container">
      <header class="space-y-4 px-4 text-center">
        <h2 class="text-3xl font-bold">
          认识我们的英语大师：您语言之旅的设计师
        </h2>
        <p class="text-gray-500 text-lg max-w-5xl mx-auto">
          逐一打开卓越语言，呵护您通往流利之路 —
          每位教师，都是为您的成功而奋斗的熟练导师，量身定制个性化学习经验，提升您的英语熟练度和自信，确保您具备全球交流成功所需的能力。
        </p>
      </header>

      <!--teacher list collection -->
      <section class="mt-8 -mx-2">
        <!--teacher list item -->
        <ul class="flex flex-wrap">
          {
            teachers.map((teacher) => (
              <li class="w-full flex p-2 md:w-1/2">
                <TeacherListItem teacher={teacher} />
              </li>
            ))
          }
        </ul>
      </section>
    </section>
  </section>

  <!-- Resources Section -->
  <section class="container mb-12 lg:mt-10">
    <!-- Navigation purpose -->
    <div id="resources" class="-mt-16 absolute lg:mt-0"></div>

    <div class="space-y-10 bg-white p-4 rounded-xl md:p-8 lg:p-16">
      <header>
        <div class="hidden w-[2.5rem] h-[5px] rounded-full bg-esl-c-3 lg:block">
        </div>
        <h2 class="text-esl-4">
          <span class="text-esl-c-1">教学资源</span>
        </h2>
      </header>

      <section class="w-full flex justify-center mx-auto">
        <div class="w-full grid grid-cols-1 gap-12 md:grid-cols-2">
          {
            [
              {
                link: "#",
                image: "/images/new-concept.jpg",
                imageAlt: "新概念",
                text: "新概念",
              },
              {
                link: "#",
                image: "/images/cambridge-english-young-learners-flyers.jpg",
                imageAlt: "剑桥少儿英语",
                text: "剑桥少儿英语",
              },
              {
                link: "#",
                image: "/images/pep-english.jpg",
                imageAlt: "人教版英语",
                text: "人教版英语",
              },
              {
                link: "#",
                image: "/images/jijiao-english.jpg",
                imageAlt: "冀教版英语",
                text: "冀教版英语",
              },
              {
                link: "#",
                image: "/images/toefl.png",
                imageAlt: "托福",
                text: "托福",
              },
              {
                link: "#",
                image: "/images/ielts.png",
                imageAlt: "雅思",
                text: "雅思",
              },
            ].map((resource: any) => {
              return <ResourceCard resourceParameter={resource} />;
            })
          }
        </div>
      </section>
    </div>
  </section>

  <!-- About Section -->
  <section class="container mb-12">
    <!-- Navigation purpose -->
    <div id="about" class="-mt-16 absolute lg:mt-0"></div>

    <div class="mx-auto bg-white rounded-xl p-4 md:p-8 lg:p-16">
      <header>
        <div class="hidden w-[2.5rem] h-[5px] rounded-full bg-esl-c-3 lg:block">
        </div>
        <h2 class="text-esl-4 text-esl-c-2">Welcome to ABC English</h2>
      </header>

      <section class="mt-2 space-y-4 text-esl-2">
        <p>
          欢迎来到ABCEnglish，这是您学习英语的首选目的地。我们致力于为您提供优质的语言学习资源和专业的教学服务，帮助您实现英语学习目标。我们采用个性化的教学方法和创新的教学方式，致力于帮助您提高英语沟通能力。无论您是初学者还是高级学习者，我们的课程都可以根据您的个人需求和学习风格量身定制。
        </p>
        <p>
          我们的资深教师团队热情地帮助您在语言学习旅程中取得成功。我们认为学习英语应该是有趣、吸引人的和有效的，因此我们使用各种教学工具和资源来保持您的积极性并跟踪您的学习进度，包括多媒体课程、互动练习和真实对话。
        </p>
        <p>
          在ABCEnglish，我们也明白每个人的时间规划和学习需求都不同，因此我们提供灵活和经济实惠的选项，以适应您的时间规划和预算。从而进行一对一的专业辅导，我们有适合每个人的课程。所以，无论您是为了工作、旅行还是个人发展而想提高英语能力，我们将一直在您学习的每一步中帮助您。加入我们的学习社区，开始您的英语学习之旅吧。
        </p>
      </section>

      <section class="flex justify-center flex-wrap mt-4">
        {
          [
            {
              image: "/images/online-learning.jpg",
              title: "1对1教学",
              desc: "Follow your own pace with the flexible , convinence, personalized learning",
              link: "/one-on-one-teaching",
            },
            {
              image: "/images/training.jpg",
              title: "教师培训",
              desc: "help teachers become more effective educators and to keep up with the latest developments in their field",
              link: "/teacher-training",
            },
          ].map((data) => {
            return (
              <div class="p-2 max-w-sm flex w-full md:w-1/2">
                <figure class="rounded-b-3xl rounded-tl-3xl overflow-hidden flex flex-col">
                  <div class="pb-[60%] relative">
                    <div class="absolute top-0 w-full h-full">
                      <Img
                        breakpoints={[480]}
                        src={data.image}
                        alt={data.title}
                      />
                    </div>
                  </div>

                  <figcaption class="bg-blue-200 p-4 flex-1 flex flex-col">
                    <header>
                      <h3 class="text-xl">{data.title}</h3>
                    </header>

                    <section class="mb-2">
                      <p>{data.desc}</p>
                    </section>

                    <footer class="mt-auto">
                      <a
                        href={data.link}
                        class="block bg-white rounded-full w-fit mx-auto px-6 py-2 transition hover:bg-blue-300"
                      >
                        了解更多
                      </a>
                    </footer>
                  </figcaption>
                </figure>
              </div>
            );
          })
        }
      </section>
    </div>
  </section>
</MainLayout>

<style>
  .landing-clipped {
    clip-path: none;
  }
  .remaining-list button > span:first-child {
    display: block;
  }
  .remaining-list button > span:last-child {
    display: none;
  }
  .remaining-list button.toggled > span:first-child {
    display: none;
  }
  .remaining-list button.toggled > span:last-child {
    display: block;
  }

  @media (min-width: 1024px) {
    .landing-clipped {
      clip-path: url(#landing-clip);
    }
  }
</style>

<script>
  //create a handler here in the future if ever i want to detect window resizes and show and hide the see more and less respectively
  // let longDesc = document.querySelectorAll("div.longDesc");

  // longDesc.forEach((item, index) => {
  //   let span = item.querySelector("span.longDescText")! as HTMLSpanElement;
  //   let seeMoreLess = item.querySelectorAll(".descVisibility span");

  //   UpdateVisibility(span, item);
  //   window.addEventListener("resize", () => {
  //     UpdateVisibility(span, item);
  //   });

  //   seeMoreLess[0].addEventListener("click", () => {
  //     span.classList.add("unclamped");
  //     seeMoreLess[0].classList.add("hidden");
  //     seeMoreLess[1].classList.remove("hidden");
  //   }); //see more
  //   seeMoreLess[1].addEventListener("click", () => {
  //     span.classList.remove("unclamped");
  //     seeMoreLess[0].classList.remove("hidden");
  //     seeMoreLess[1].classList.add("hidden");
  //   }); //see less
  // });

  // function UpdateVisibility(span: HTMLSpanElement, item: Element) {
  //   let descVisibility = item.querySelector(".descVisibility")!;
  //   if (!span.classList.contains("unclamped")) {
  //     if (span.clientHeight < span.scrollHeight) {
  //       descVisibility.classList.remove("hidden");
  //     } else {
  //       descVisibility.classList.add("hidden");
  //     }
  //   } else {
  //     let lineHeight = parseInt(window.getComputedStyle(span).lineHeight);
  //     let height = span.clientHeight;
  //     let maxLines = 2;
  //     if (height <= lineHeight * maxLines) {
  //       descVisibility.classList.add("hidden");
  //     } else {
  //       descVisibility.classList.remove("hidden");
  //     }
  //   }
  // }

  // var listHandler = {
  //   refs: {
  //     remainingList: document.querySelector<HTMLDivElement>(".remaining-list")!,
  //     listContainer: document.querySelector<HTMLDivElement>(
  //       ".remaining-list .list-container"
  //     )!,
  //     button: document.querySelector<HTMLDivElement>(
  //       ".remaining-list button.block"
  //     )!,
  //   },
  //   init: () => {
  //     listHandler.refs.button.addEventListener("click", () => {
  //       listHandler.refs.button.classList.toggle("toggled");
  //       listHandler.refs.listContainer.classList.toggle("scale-y-0");
  //       listHandler.refs.listContainer.classList.toggle("scale-y-100");
  //       listHandler.refs.listContainer.classList.toggle("h-full");
  //       listHandler.refs.listContainer.classList.toggle("h-0");

  //       // get the div element
  //       if (listHandler.refs.listContainer.classList.contains("h-0")) {
  //         const target = document.getElementById("teachers")!;
  //         target.scrollIntoView();
  //       }
  //     });
  //   },
  // };
  // listHandler.init();
</script>
