---
import MainLayout from "../layouts/MainLayout.astro";
import landingJson from "@data/landingPage.json";

//section 1
import ImageCard from "../components/landing-page/ImageCard.astro";
//secont 3
import ResourceCard from "../components/landing-page/ResourceCard.astro";

import {liteImageConfig} from "../scripts/liteImageConfig";
---

<MainLayout currentPage="Home" config={liteImageConfig}>
  <div class="mx-24">
    <!--Section one-->
    <div class="mt-4 mb-2 container mx-auto">
      <div class="rounded-tl-[3.75rem] rounded-tr-none bg-esl-c-2 flex flex-1 justify-between overflow-hidden">
        <div class="  p-10 bg-esl-c-2 w-5/12">
          <div class="text-esl-4">
            <span class="text-esl-c-3">Explore the world <br /> with</span>
            <span
              class="text-transparent bg-clip-text bg-gradient-to-r from-purple-400 to-pink-600"
              >English</span
            >
        </div>
          <div class="">
            <div class="mt-6 text-esl-2 text-white">
              Welcome to our expert English language teaching website, where we are
              dedicated to helping you achieve your language learning goals. Whether
              you're looking to improve your English skills for work, travel, or
              personal development, our team of experienced and qualified teachers is
              here to help you every step of the way.
            </div>
          </div>
        </div>
        <div style="clip-path:polygon(0 0, 100% 0, 100% 100%, 63% 100%, 8% 56%)" 
        class={
          'w-7/12 bg-cover bg-landing ' + (liteImageConfig.lite? liteImageConfig.placeholder+"":"bg-[url('./images/teaching.jpg')]")
          }>
          <!--place image here -->
          <div ></div>
          
        </div>
        
        
        
      </div>
      <div class="rounded-b-[3.75rem] bg-white py-12 space-y-[4rem]">
        <div class="px-20 space-y-4">
          <div class="w-[2.5rem] h-[5px] rounded-full bg-esl-c-3"></div>
          <div class="space-y-4 text-esl-2">
            <p class="text-esl-4 text-esl-c-2">Welcome to ABC English</p>
            <p>
              Welcome to ABCEnglish, your go-to destination for mastering the
              English language. Our website is dedicated to providing you with
              top-quality language learning resources and expert teaching services
              to help you achieve your English language goals.
            </p>
            <p>
              With personalized lessons and innovative teaching methods, we are
              committed to helping you develop the skills and confidence you need
              to communicate fluently in English. Whether you're a beginner or an
              advanced learner, our courses are tailored to meet your individual
              needs and learning style.
            </p>
            <p>
              Our team of experienced and qualified teachers is passionate about
              helping you succeed in your language learning journey. We believe
              that learning English should be engaging, fun, and effective, which
              is why we use a variety of teaching tools and resources to keep you
              motivated and on track, including multimedia lessons, interactive
              exercises, and real-life conversations.
            </p>
            <p>
              At ABCEnglish, we also understand that everyone has different
              schedules and learning needs, which is why we offer flexible and
              affordable options to fit your schedule and budget. From one-on-one
              tutoring to group classes and online courses, we have something for
              everyone.
            </p>
            <p>
              So, whether you're looking to improve your English skills for work,
              travel, or personal development, we are here to help you every step
              of the way. Join our community of learners and start your English
              language journey today.
            </p>
          </div>
        </div>
        <div class="flex justify-center">
          <div class="flex w-10/12 space-x-3">
          
            {
              
              landingJson.section1.map((cardDetails) => <ImageCard params={cardDetails} config={liteImageConfig}/>)
            }
          </div>
        </div>
      </div>
    </div>
    <!--Section two -->
    <div class="my-12 flex justify-center container mx-auto">
      <div class="px-12 flex w-10/12">
        <div class="w-5/12">
          <div class="w-[2.5rem] h-[5px] rounded-full bg-esl-c-3"></div>
          <div class="text-white">
            <p class="text-esl-4">Service</p>
            <p class="mt-4">
              We provide a platform where teachers and students can connect and
              engage in a free market environment. Teachers are able to showcase
              their skills and expertise to a wide audience, while students have
              the opportunity to browse and choose the teacher that best fits
              their needs and preferences. Our platform facilitates a transparent
              and open market for education, where both teachers and students have
              the freedom to participate and benefit from the exchange of
              knowledge and learning experiences.
            </p>
          </div>
          <div class="mt-16">
            <a
              href="#"
              class="mx-auto block rounded-full w-fit bg-white py-2 px-4 rounded-full bg-white text-esl-2 text-esl-c-2 hover:bg-esl-c-2 hover:text-white focus-visible:outline-none"
              >See our teachers</a
            >
          </div>
        </div>
        <div class="w-7/12 flex items-center justify-center">
          <img class={"w-[25rem] h-[25rem] object-cover "+(liteImageConfig.lite?liteImageConfig.placeholder:"")} src={liteImageConfig.lite?"":"./images/teacher.jpg"} style="clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%)" />
          <!--TEACHER IMAGE GOES HERE-->
        </div>
      </div>
    </div>
    <!--Section three -->
    <div
      class="rounded-[1.87rem] mb-12 overflow-hidden rounded-[3.75rem] container mx-auto"
    >
      <div class="bg-white">
        <!--first half -->
        <div class="p-12 w-10/12 mx-auto">
          <div class="text-esl-4">
            <span class="text-esl-c-1">Teaching Resources</span>
          </div>
        </div>
        <!--second half -->
        <div class="w-10/12 flex justify-center mx-auto">
          <div class="grid grid-cols-2 grid-rows-2 grid-flow-col gap-12">
            {
              landingJson.resources.map((resource: any) => {
                return <ResourceCard resourceParameter={resource} config={liteImageConfig} />;
              })
            }
          </div>
        </div>
        <div class="text-center py-10">
          <a href="#" class="text-center text-esl-2 text-esl-c-2 hover:underline"
            >See all teaching resources</a
          >
        </div>
      </div>
      <!--Tips section -->
      <div class="bg-esl-c-3 py-12 px-6">
        <div class="w-10/12 mx-auto">
          <p class="text-esl-4">Tips</p>
          <div class="w-10/12 mx-auto flex flex-1 justify-between">
            {
              landingJson.tips.map((tip) => {
                return (
                  <div class="bg-white p-12 rounded-tl-[1.5rem] rounded-br-[1.5rem] text-center">
                    {tip}
                  </div>
                );
              })
            }
          </div>
          <a
            href="#"
            class="mx-auto block rounded-full w-fit bg-white py-2 px-4 rounded-full bg-white text-esl-2 text-esl-c-2 mt-5 hover:bg-esl-c-2 hover:text-white focus-visible:outline-none"
            >More tips</a
          >
        </div>

        <!--tips section -->
      </div>
    </div>
  </div>
  
</MainLayout>
