---
import teachersJson from "@data/teachers.json";
import ResourceCard from "../components/landing-page/ResourceCard.astro";
import { Img } from "astro-imagetools/components";
import TeacherListItem from "@components/landing-page/TeacherListItem.astro";
import MainLayout from "@layouts/MainLayout.astro";

const teachers = teachersJson.contents;
---

<MainLayout>
  <!-- Hero Section -->
  <section>
    <!-- Navigation purpose -->
    <div id="home" class="-mt-16 absolute lg:mt-0"></div>

    <div
      class="mb-2 container sm:rounded-t-[1.75rem] overflow-hidden lg:rounded-t-[3.75rem] lg:mt-5"
    >
      <div
        class="bg-esl-c-2 flex flex-1 justify-between flex-col-reverse lg:rounded-tr-none lg:flex-row"
      >
        <div class="px-5 py-10 sm:px-10 bg-esl-c-2 lg:w-5/12">
          <div class="text-esl-4">
            <span class="text-esl-c-3">用英语的力量发现世界</span>
          </div>
          <div class="">
            <div class="mt-6 text-esl-2 text-white">
              欢迎来到 ABC
              English英语教学网站，在这里我们致力于帮助您实现语言学习目标。无论您是为了工作、旅行还是个人发展而提高英语能力，我们拥有经验丰富、资质齐全的教师团队，将为您在每一步的学习提供帮助。
              <br />
              我们提供一个平台，让教师和学生可以在一个自由市场的环境下相互联系和参与。教师可以向广大学员展示他们的技能和专业知识，而学生则有机会浏览和选择最适合他们需求和偏好的教师。我们的平台为教育提供了一个透明和开放的市场，让教师和学生都可以自由参与并从知识和学习经验的交流中获益。
            </div>
          </div>
        </div>

        <!--clipped image -->
        <div
          class="overflow-hidden flex relative lg:w-1/2 xl:w-7/12 xl:relative"
        >
          <div
            class="landing-clipped w-full max-h-[15rem] sm:max-h-[20rem] md:max-h-[25rem] lg:max-h-none xl:absolute"
          >
            <Img
              src="/images/teaching-english2.png"
              alt=""
              layout="fill"
              breakpoints={{ count: 1, maxWidth: 768 }}
            />
          </div>
        </div>

        <!-- Clip path -->
        <div>
          <svg class="" xmlns="http://www.w3.org/2000/svg" width="0" height="0">
            <defs>
              <clipPath id="landing-clip">
                <path
                  id="landing-path"
                  transform="translate(300 -900) rotate(30) scale(5)"
                  d="M172.871,0a28.906,28.906,0,0,1,25.009,14.412L245.805,97.1a28.906,28.906,0,0,1,0,28.989L197.88,208.784A28.906,28.906,0,0,1,172.871,223.2H76.831a28.906,28.906,0,0,1-25.009-14.412L3.9,126.092A28.906,28.906,0,0,1,3.9,97.1L51.821,14.412A28.906,28.906,0,0,1,76.831,0Z"
                ></path>
              </clipPath>
            </defs>
          </svg>
        </div>
      </div>
    </div>
  </section>

  <!-- Teachers Section -->
  <section class="my-6 container lg:mt-10">
    <!-- Navigation purpose -->
    <div id="teachers" class="-mt-16 absolute lg:mt-0"></div>

    <header class="w-full">
      <!--dashed line -->
      <div class="hidden w-[2.5rem] h-[5px] rounded-full bg-esl-c-3 lg:block">
      </div>
      <h2
        class="text-esl-4 text-white flex items-center space-x-1 justify-center lg:justify-start"
      >
        <span>教师队伍</span>
        <span class="w-[2.5rem] h-[5px] rounded-full bg-white block"></span>
        <span class="text-[0.94rem]">寻找最合适你的老师</span>
      </h2>
    </header>

    <!--teacher list collection -->
    <section class="mt-2 -mx-2">
      <!--teacher list item -->
      <ul class="flex flex-wrap">
        {
          teachers.map((teacher) => (
            <li class="w-full p-2 md:w-1/2">
              <TeacherListItem teacher={teacher} />
            </li>
          ))
        }
      </ul>
    </section>
  </section>

  <!-- Resources Section -->
  <section class="container mb-12 lg:mt-10">
    <!-- Navigation purpose -->
    <div id="resources" class="-mt-16 absolute lg:mt-0"></div>

    <div class="space-y-10 bg-white p-4 rounded-xl md:p-8 lg:p-16">
      <header>
        <div class="hidden w-[2.5rem] h-[5px] rounded-full bg-esl-c-3 lg:block">
        </div>
        <h2 class="text-esl-4">
          <span class="text-esl-c-1">教学资源</span>
        </h2>
      </header>

      <section class="w-full flex justify-center mx-auto">
        <div class="w-full grid grid-cols-1 gap-12 md:grid-cols-2">
          {
            [
              {
                link: "#",
                image: "/images/new-concept.jpg",
                imageAlt: "新概念",
                text: "新概念",
              },
              {
                link: "#",
                image: "/images/cambridge-english-young-learners-flyers.jpg",
                imageAlt: "剑桥少儿英语",
                text: "剑桥少儿英语",
              },
              {
                link: "#",
                image: "/images/pep-english.jpg",
                imageAlt: "人教版英语",
                text: "人教版英语",
              },
              {
                link: "#",
                image: "/images/jijiao-english.jpg",
                imageAlt: "冀教版英语",
                text: "冀教版英语",
              },
              {
                link: "#",
                image: "/images/toefl.png",
                imageAlt: "托福",
                text: "托福",
              },
              {
                link: "#",
                image: "/images/ielts.png",
                imageAlt: "雅思",
                text: "雅思",
              },
            ].map((resource: any) => {
              return <ResourceCard resourceParameter={resource} />;
            })
          }
        </div>
      </section>
    </div>
  </section>

  <!-- About Section -->
  <section class="container mb-12">
    <!-- Navigation purpose -->
    <div id="about" class="-mt-16 absolute lg:mt-0"></div>

    <div class="mx-auto bg-white rounded-xl p-4 md:p-8 lg:p-16">
      <header>
        <div class="hidden w-[2.5rem] h-[5px] rounded-full bg-esl-c-3 lg:block">
        </div>
        <h2 class="text-esl-4 text-esl-c-2">Welcome to ABC English</h2>
      </header>

      <section class="mt-2 space-y-4 text-esl-2">
        <p>
          欢迎来到ABCEnglish，这是您学习英语的首选目的地。我们致力于为您提供优质的语言学习资源和专业的教学服务，帮助您实现英语学习目标。我们采用个性化的教学方法和创新的教学方式，致力于帮助您提高英语沟通能力。无论您是初学者还是高级学习者，我们的课程都可以根据您的个人需求和学习风格量身定制。
        </p>
        <p>
          我们的资深教师团队热情地帮助您在语言学习旅程中取得成功。我们认为学习英语应该是有趣、吸引人的和有效的，因此我们使用各种教学工具和资源来保持您的积极性并跟踪您的学习进度，包括多媒体课程、互动练习和真实对话。
        </p>
        <p>
          在ABCEnglish，我们也明白每个人的时间规划和学习需求都不同，因此我们提供灵活和经济实惠的选项，以适应您的时间规划和预算。从而进行一对一的专业辅导，我们有适合每个人的课程。所以，无论您是为了工作、旅行还是个人发展而想提高英语能力，我们将一直在您学习的每一步中帮助您。加入我们的学习社区，开始您的英语学习之旅吧。
        </p>
      </section>

      <section class="flex justify-center flex-wrap mt-4">
        {
          [
            {
              image: "/images/online-learning.jpg",
              title: "1对1教学",
              desc: "Follow your own pace with the flexible , convinence, personalized learning",
              link: "/one-on-one-teaching",
            },
            {
              image: "/images/training.jpg",
              title: "教师培训",
              desc: "help teachers become more effective educators and to keep up with the latest developments in their field",
              link: "/teacher-training",
            },
          ].map((data) => {
            return (
              <div class="p-2 max-w-sm flex w-full md:w-1/2">
                <figure class="rounded-b-3xl rounded-tl-3xl overflow-hidden flex flex-col">
                  <div class="pb-[60%] relative">
                    <div class="absolute top-0 w-full h-full">
                      <Img src={data.image} alt={data.title} />
                    </div>
                  </div>

                  <figcaption class="bg-blue-200 p-4 flex-1 flex flex-col">
                    <header>
                      <h3 class="text-xl">{data.title}</h3>
                    </header>

                    <section class="mb-2">
                      <p>{data.desc}</p>
                    </section>

                    <footer class="mt-auto">
                      <a
                        href={data.link}
                        class="block bg-white rounded-full w-fit mx-auto px-6 py-2 transition hover:bg-blue-300"
                      >
                        了解更多
                      </a>
                    </footer>
                  </figcaption>
                </figure>
              </div>
            );
          })
        }
      </section>
    </div>
  </section>
</MainLayout>

<style>
  .landing-clipped {
    clip-path: none;
  }
  .remaining-list button > span:first-child {
    display: block;
  }
  .remaining-list button > span:last-child {
    display: none;
  }
  .remaining-list button.toggled > span:first-child {
    display: none;
  }
  .remaining-list button.toggled > span:last-child {
    display: block;
  }

  @media (min-width: 1024px) {
    .landing-clipped {
      clip-path: url(#landing-clip);
    }
  }
</style>

<script>
  //create a handler here in the future if ever i want to detect window resizes and show and hide the see more and less respectively
  // let longDesc = document.querySelectorAll("div.longDesc");

  // longDesc.forEach((item, index) => {
  //   let span = item.querySelector("span.longDescText")! as HTMLSpanElement;
  //   let seeMoreLess = item.querySelectorAll(".descVisibility span");

  //   UpdateVisibility(span, item);
  //   window.addEventListener("resize", () => {
  //     UpdateVisibility(span, item);
  //   });

  //   seeMoreLess[0].addEventListener("click", () => {
  //     span.classList.add("unclamped");
  //     seeMoreLess[0].classList.add("hidden");
  //     seeMoreLess[1].classList.remove("hidden");
  //   }); //see more
  //   seeMoreLess[1].addEventListener("click", () => {
  //     span.classList.remove("unclamped");
  //     seeMoreLess[0].classList.remove("hidden");
  //     seeMoreLess[1].classList.add("hidden");
  //   }); //see less
  // });

  // function UpdateVisibility(span: HTMLSpanElement, item: Element) {
  //   let descVisibility = item.querySelector(".descVisibility")!;
  //   if (!span.classList.contains("unclamped")) {
  //     if (span.clientHeight < span.scrollHeight) {
  //       descVisibility.classList.remove("hidden");
  //     } else {
  //       descVisibility.classList.add("hidden");
  //     }
  //   } else {
  //     let lineHeight = parseInt(window.getComputedStyle(span).lineHeight);
  //     let height = span.clientHeight;
  //     let maxLines = 2;
  //     if (height <= lineHeight * maxLines) {
  //       descVisibility.classList.add("hidden");
  //     } else {
  //       descVisibility.classList.remove("hidden");
  //     }
  //   }
  // }

  // var listHandler = {
  //   refs: {
  //     remainingList: document.querySelector<HTMLDivElement>(".remaining-list")!,
  //     listContainer: document.querySelector<HTMLDivElement>(
  //       ".remaining-list .list-container"
  //     )!,
  //     button: document.querySelector<HTMLDivElement>(
  //       ".remaining-list button.block"
  //     )!,
  //   },
  //   init: () => {
  //     listHandler.refs.button.addEventListener("click", () => {
  //       listHandler.refs.button.classList.toggle("toggled");
  //       listHandler.refs.listContainer.classList.toggle("scale-y-0");
  //       listHandler.refs.listContainer.classList.toggle("scale-y-100");
  //       listHandler.refs.listContainer.classList.toggle("h-full");
  //       listHandler.refs.listContainer.classList.toggle("h-0");

  //       // get the div element
  //       if (listHandler.refs.listContainer.classList.contains("h-0")) {
  //         const target = document.getElementById("teachers")!;
  //         target.scrollIntoView();
  //       }
  //     });
  //   },
  // };
  // listHandler.init();
</script>
