---
import StarIcon from "@assets/StarIcon.astro";
import VerifiedIcon from "@assets/VerifiedIcon.astro";
import teachersJson from "@data/teachers.json";
import MainLayout from "@layouts/MainLayout.astro";
import { Img } from "astro-imagetools/components";

export function getStaticPaths() {
  const teachers = teachersJson.contents;
  return teachers.map((teacher) => {
    return {
      params: {
        new: teacher.id,
      },
      props: {
        teacher,
      },
    };
  });
}

const teachers = teachersJson.contents;
type Props = {
  teacher: (typeof teachers)[number];
};

const { teacher } = Astro.props as Props;
---

<MainLayout>
  <!-- Container -->
  <section class="container mx-auto px-4 lg:px-8">
    <!-- Section -->
    <section class="bg-white p-4 py-12 md:p-8">
      <!-- Header -->
      <header>
        <figure class="flex flex-wrap">
          <!-- Teacher Avatar -->
          <div class="w-full md:w-[unset]">
            <div
              class="w-32 h-32 mx-auto rounded-full overflow-hidden border-4 border-blue-500"
            >
              <Img src={teacher.avatar} alt={teacher.displayName} />
            </div>
          </div>

          <figcaption class="flex-1 flex flex-col pl-4 lg:pl-8">
            <!-- Header -->
            <header class="flex items-center justify-center md:justify-start">
              <h3 class="text-xl">{teacher.displayName}</h3>

              <div class="h-6 w-6 text-green-500">
                <VerifiedIcon />
              </div>
            </header>

            <!-- More info -->
            <section class="flex justify-center md:justify-start">
              <p>{teacher.alias}</p>

              <div class="flex items-center text-yellow-500">
                <div class="h-6 w-6">
                  <StarIcon />
                </div>
                <p>{teacher.rating}</p>
              </div>
            </section>

            <!-- Footer -->
            <footer
              class="mt-8 items-center justify-center md:flex md:mt-auto md:justify-end"
            >
              <p class="text-center md:pr-2">
                {teacher.price}
                <span class="text-gray-500">/{teacher.time}</span>
              </p>
              <a
                class="bg-[#FF4438] block border-2 text-center border-[#ff4438] py-1 px-[2rem] rounded-full text-white transition hover:text-[#ff4438] hover:bg-white"
                href={`/teachers/${teacher.id}/`}
              >
                了解更多
              </a>
            </footer>
          </figcaption>
        </figure>
      </header>

      <!-- Details Desktop -->
      <section class="mt-8 lg:px-8">
        <!-- Navigations -->
        <header
          class="hidden justify-between max-w-5xl mx-auto text-xl font-medium md:flex"
        >
          <button data-teacher-nav="aboutMe">
            <p>About Me</p>
            <div
              data-nav-indicator
              class="w-10 rounded-full mx-auto mt-2 h-1 bg-[#FF4438]"
            >
            </div>
          </button>
          <button data-teacher-nav="meAsATeacher">
            <p>Me as a Teacher</p>
            <div
              data-nav-indicator
              class="w-10 rounded-full mx-auto mt-2 h-1 bg-[#FF4438]"
            >
            </div>
          </button>
          <button data-teacher-nav="teachingPlan">
            <p>My lessons & Teaching plan</p>
            <div
              data-nav-indicator
              class="w-10 rounded-full mx-auto mt-2 h-1 bg-[#FF4438]"
            >
            </div>
          </button>
        </header>

        <!-- About Me Content -->
        <section data-teacher-content class="lg:hidden">
          <header>
            <h3 class="text-2xl font-bold mt-8">About Me</h3>
          </header>

          <!-- Details -->
          <section class="mt-2 space-y-2">
            <p class="whitespace-pre-wrap">{teacher.aboutMe}</p>

            <video
              class="mt-8 max-h-[24rem] lg:w-3/4"
              controls
              src={teacher.introductionVideo}></video>

            <p>{teacher.videoSubtitle}</p>
          </section>
        </section>

        <!-- Me as a Teacher Content -->
        <section data-teacher-content class="lg:hidden">
          <header>
            <h3 class="text-2xl font-bold mt-8">Me as a Teacher</h3>
          </header>

          <!-- Details -->
          <section class="mt-2">
            <p class="whitespace-pre-wrap">{teacher.meAsATeacher}</p>
          </section>
        </section>

        <!-- My lessons & Teaching plan Content -->
        <section data-teacher-content class="lg:hidden">
          <header>
            <h3 class="text-2xl font-bold mt-8">My lessons & Teaching plan</h3>
          </header>

          <!-- Details -->
          <section class="mt-2">
            <p class="whitespace-pre-wrap">{teacher.teachingPlan}</p>
          </section>
        </section>
      </section>
    </section>

    <!-- Section -->
    <section class="bg-white p-4 mt-2 md:p-8">
      <ul class="flex flex-wrap justify-evenly text-center">
        <li class="p-2 w-1/2 md:w-1/5">
          <div
            class="flex justify-center items-center text-3xl text-yellow-500"
          >
            <div class="w-8 h-8">
              <StarIcon />
            </div>
            <p>{teacher.rating}</p>
          </div>
          <p class="text-gray-500 text-lg">Rating</p>
        </li>

        <li class="p-2 w-1/2 md:w-1/5">
          <p class="text-3xl">2</p>
          <p class="text-gray-500 text-lg">Students</p>
        </li>

        <li class="p-2 w-1/2 md:w-1/5">
          <p class="text-3xl">10</p>
          <p class="text-gray-500 text-lg">Lessons</p>
        </li>

        <li class="p-2 w-1/2 md:w-1/5">
          <p class="text-3xl">100%</p>
          <p class="text-gray-500 text-lg">Attendance</p>
        </li>

        <li class="p-2 w-1/2 md:w-1/5">
          <p class="text-3xl">100%</p>
          <p class="text-gray-500 text-lg">Response</p>
        </li>
      </ul>
    </section>
  </section>
</MainLayout>

<script>
  let activeNav = 0;
  const navButtons = document.querySelectorAll("[data-teacher-nav]");
  const navIndicators = document.querySelectorAll("[data-nav-indicator]");
  const contents = document.querySelectorAll("[data-teacher-content]");

  navButtons.forEach((btn, index) => {
    btn.addEventListener("click", (e) => {
      if (activeNav === index) return;
      setActiveNav(index);
    });
  });

  function setActiveNav(index: number) {
    activeNav = index;
    // Hide all indicators
    navIndicators.forEach((div) => {
      div.classList.add("opacity-0");
    });
    // Show active indicator
    const indicator = navIndicators[index] as HTMLElement;
    indicator.classList.remove("opacity-0");

    // Hide all contents
    contents.forEach((div) => {
      div.classList.add("lg:hidden");
    });
    // Show active content
    const content = contents[index] as HTMLElement;
    content.classList.remove("lg:hidden");
  }

  setActiveNav(0);
</script>
