---
import StarIcon from "@assets/StarIcon.astro";
import VerifiedIcon from "@assets/VerifiedIcon.astro";
import teachersJson from "@data/teachers.json";
import MainLayout from "@layouts/MainLayout.astro";
import { Img } from "astro-imagetools/components";
import TeacherScheduleBooking from "@components/TeacherScheduleBooking.svelte";

export function getStaticPaths() {
  const teachers = teachersJson.contents;
  return teachers.map((teacher) => {
    return {
      params: {
        teacher: teacher.id,
      },
      props: {
        teacher,
      },
    };
  });
}

const teachers = teachersJson.contents;
type Props = {
  teacher: (typeof teachers)[number];
};

const { teacher } = Astro.props as Props;
---

<MainLayout>
  <header class="sr-only">
    <h1>Profile Page</h1>
  </header>

  <!-- Container -->
  <section class="container my-4 md:my-8">
    <header>
      <h2 class="sr-only">User Basic Information</h2>
    </header>

    <!-- Section -->
    <section class="bg-p bg-opacity-10 shadow-xl rounded-3xl overflow-hidden">
      <!-- Banner -->
      <section class="h-32 bg-gradient-to-tr from-p-200 to-p-800"></section>

      <!-- User Info -->
      <section class="px-8">
        <figure class="flex flex-wrap">
          <!-- Teacher Avatar -->
          <div class="w-1/2 mx-auto -mt-20 md:w-40">
            <div
              class="w-full relative overflow-hidden shadow-lg rounded-full pb-[100%]"
            >
              <div class="absolute w-full h-full">
                <Img
                  layout="fill"
                  breakpoints={[144]}
                  src={teacher.avatar}
                  alt={teacher.displayName}
                />
              </div>
            </div>
          </div>

          <!-- Information -->
          <figcaption
            class="flex flex-col w-full mt-4 md:mt-0 md:p-4 md:pr-0 md:flex-1"
          >
            <!-- Header -->
            <header class="flex items-center justify-center md:justify-start">
              <h3 class="text-xl">{teacher.displayName}</h3>

              <div class="h-6 w-6 text-green-500">
                <VerifiedIcon />
              </div>
            </header>

            <!-- Footer -->
            <footer
              class="flex flex-wrap justify-between mt-2 space-y-8 md:space-y-4 lg:space-y-0"
            >
              <ul class="w-full flex divide-x divide-p lg:w-fit">
                <li class="px-4 py-1 flex-1 text-center lg:flex-[unset]">
                  <div class="flex items-center justify-center">
                    <p class="text-xl font-bold">5</p>
                    <div class="w-6 h-6 text-yellow-500">
                      <StarIcon />
                    </div>
                  </div>
                  <p>RATING</p>
                </li>

                <li class="px-4 py-1 flex-1 text-center lg:flex-[unset]">
                  <p class="text-xl font-bold">2</p>
                  <p>STUDENTS</p>
                </li>

                <li class="px-4 py-1 flex-1 text-center lg:flex-[unset]">
                  <p class="text-xl font-bold">100%</p>
                  <p>RESPONSE</p>
                </li>
              </ul>

              <section class="flex items-center w-full flex-wrap lg:w-fit">
                <p class="text-center w-full md:pr-2 md:w-fit">
                  {teacher.price}
                  <span class="text-gray-500">/{teacher.time}</span>
                </p>
                <button
                  data-teacher-schedule-cta
                  class="bg-p block w-full border-2 text-center border-p py-1 px-[2rem] rounded-md text-white transition md:w-fit hover:text-p hover:bg-white"
                >
                  预约
                </button>
              </section>
            </footer>
          </figcaption>
        </figure>
      </section>

      <!-- Details -->
      <section>
        <!-- Navigations -->
        <header class="hidden border-p border-t-2 py-2 px-16 lg:block">
          <ul
            class="max-w-5xl mx-auto text-xl font-medium justify-between flex"
          >
            <li>
              <button data-teacher-nav="aboutMe">
                <p>About Me</p>
                <div
                  data-nav-indicator
                  class="w-10 rounded-full mx-auto mt-2 h-1 bg-p"
                >
                </div>
              </button>
            </li>

            <li>
              <button data-teacher-nav="meAsATeacher">
                <p>Me as a Teacher</p>
                <div
                  data-nav-indicator
                  class="w-10 rounded-full mx-auto mt-2 h-1 bg-p"
                >
                </div>
              </button>
            </li>

            <li>
              <button data-teacher-nav="teachingPlan">
                <p>My lessons & Teaching plan</p>
                <div
                  data-nav-indicator
                  class="w-10 rounded-full mx-auto mt-2 h-1 bg-p"
                >
                </div>
              </button>
            </li>
          </ul>
        </header>

        <!-- About Me Content -->
        <section data-teacher-content class="p-2 pb-8 md:p-4 lg:px-8">
          <header>
            <h3 class="text-2xl font-bold mt-8 md:mt-0">About Me</h3>
          </header>

          <!-- Details -->
          <section class="mt-2 space-y-2">
            <p class="">{teacher.videoSubtitle}</p>
            <section class="py-4 max-w-4xl mx-auto hidden">
              <video
                class="max-h-[24rem] w-full h-full p-1"
                controls
                src={teacher.introductionVideo}></video>
            </section>
          </section>
        </section>

        <!-- Me as a Teacher Content -->
        <section data-teacher-content class="p-2 pb-8 md:p-4 lg:px-8">
          <header>
            <h3 class="text-2xl font-bold mt-8 md:mt-0">Me as a Teacher</h3>
          </header>

          <!-- Details -->
          <section class="mt-2">
            <p class="whitespace-pre-wrap">{teacher.meAsATeacher}</p>
          </section>
        </section>

        <!-- My lessons & Teaching plan Content -->
        <section data-teacher-content class="p-2 pb-8 md:p-4 lg:px-8">
          <header>
            <h3 class="text-2xl font-bold mt-8 md:mt-0">
              My lessons & Teaching plan
            </h3>
          </header>

          <!-- Details -->
          <section class="mt-2">
            <p class="whitespace-pre-wrap">{teacher.teachingPlan}</p>
          </section>
        </section>
      </section>
    </section>

    <!-- Section -->
    <!-- <section class="bg-white p-4 mt-4">
      <ul class="flex flex-wrap justify-evenly text-center">
        <li class="p-2 w-1/2 md:w-1/5">
          <div
            class="flex justify-center items-center text-2xl text-yellow-500"
          >
            <div class="w-8 h-8">
              <StarIcon />
            </div>
            <p>{teacher.rating}</p>
          </div>
          <p class="text-gray-500">Rating</p>
        </li>

        <li class="p-2 w-1/2 md:w-1/5">
          <p class="text-2xl">2</p>
          <p class="text-gray-500">Students</p>
        </li>

        <li class="p-2 w-1/2 md:w-1/5">
          <p class="text-2xl">10</p>
          <p class="text-gray-500">Lessons</p>
        </li>

        <li class="p-2 w-1/2 md:w-1/5">
          <p class="text-2xl">100%</p>
          <p class="text-gray-500">Attendance</p>
        </li>

        <li class="p-2 w-1/2 md:w-1/5">
          <p class="text-2xl">100%</p>
          <p class="text-gray-500">Response</p>
        </li>
      </ul>
    </section> -->

    <!-- English Lesson Section -->
    <!-- <section class="mt-8">
      <header class="px-2 lg:px-8">
        <h2 class="text-3xl text-white font-bold">English Lessons</h2>
      </header>

      <section class="mt-4 p-4 bg-white md:px-8">
        <ul class="flex flex-wrap">
          {
            [...Array(5)].map((_, index) => {
              return (
                <li class="p-2 w-full md:w-1/2 lg:w-1/3">
                  <div class="p-4 bg-white shadow-lg border rounded-lg flex justify-between">
                    <p>Lesson {index + 1}</p>
                    <button>View</button>
                  </div>
                </li>
              );
            })
          }
        </ul>
      </section>
    </section> -->
  </section>

  <!-- Teacher schedules -->
  <section class="container my-8">
    <!-- Navigation purpose -->
    <div aria-label="anchor" id="teacher-schedule" class="-mt-20 absolute">
    </div>

    <section class="mt-4 rounded-3xl overflow-hidden bg-p bg-opacity-10">
      <header class="p-4">
        <h2 class="text-3xl font-bold text-p-950">Teacher Schedule</h2>
      </header>

      <section class="bg-white p-4">
        <TeacherScheduleBooking client:load teacherId={Number(teacher.id)} />
      </section>
    </section>
  </section>
</MainLayout>

<script>
  let activeNav = 0;
  const navButtons = document.querySelectorAll("[data-teacher-nav]");
  const navIndicators = document.querySelectorAll("[data-nav-indicator]");
  const contents = document.querySelectorAll("[data-teacher-content]");
  const teacherScheduleSection = document.querySelector("#teacher-schedule");
  const teacherScheduleCta = document.querySelector(
    "[data-teacher-schedule-cta]"
  );

  teacherScheduleCta?.addEventListener("click", (e) => {
    e.preventDefault();
    teacherScheduleSection?.scrollIntoView({ behavior: "smooth" });
  });

  navButtons.forEach((btn, index) => {
    btn.addEventListener("click", (e) => {
      if (activeNav === index) return;
      setActiveNav(index);
    });
  });

  function setActiveNav(index: number) {
    activeNav = index;
    // Hide all indicators
    navIndicators.forEach((div) => {
      div.classList.add("opacity-0");
    });
    // Show active indicator
    const indicator = navIndicators[index] as HTMLElement;
    indicator.classList.remove("opacity-0");

    // Hide all contents
    contents.forEach((div) => {
      div.classList.add("lg:hidden");
    });
    // Show active content
    const content = contents[index] as HTMLElement;
    content.classList.remove("lg:hidden");

    navButtons.forEach((btn) => {
      btn.classList.add("text-gray-400");
    });
    navButtons[index].classList.remove("text-gray-400");
  }

  setActiveNav(0);
</script>
