---
import headerJson from "@data/header.json";
import {Icon} from "astro-icon";
const { currentPage } = Astro.props;

let style1 = `inline-block text-white  m-4 border-b-2 pb-2 text-esl-2 cursor-pointer`;
let style2 =
  "inline-block  py-2 px-4 mt-2 rounded-full bg-white text-esl-2 text-esl-c-4 hover:bg-esl-c-2";

  let mobileStyle1 =`max-lg:block max-lg:p-[1rem] max-lg:m-0 max-lg:border-b-0  text-esl-c-2`;

---


<nav class=" lg:mt-10  items-center  ">
  <!--mobile -->
  <div class="block relative lg:hidden m-nav" >
    <button class="menu-toggle w-full block">
      <div class="p-[1rem] burger w-fit text-white block ">
        <Icon name="charm:menu-hamburger" class=" h-[1.5rem] w-[1.5rem]"/>
      </div>
      <div class="p-[1rem] bg-white hidden m-close w-full text-esl-c-2 ">
        <Icon name="ic:baseline-close" class="h-[1.5rem] w-[1.5rem] "/>
      </div>
    </button>
    
    <div class="burger-items absolute max-h-0 w-full z-[1] overflow-hidden bg-white transition-[max-height] duration-500">
      
      <div class="fit">
        {
  
          headerJson.links.map((linkSet) => (
            <a
              class={
                mobileStyle1 + 
                (linkSet[0] === currentPage
                  ? " border-b-esl-c-3 "
                  : "hover:border-b-esl-c-3 ") +
                (linkSet[0] === "Home" ? "ml-0 " : "")
                
              }
              href={linkSet[1]}
            >
              {linkSet[0]}
            </a>
          ))
        }
      </div>
      <div class="fit block">
        <a class={mobileStyle1} href="#">Register</a>
        <a class={mobileStyle1} href="#">Login</a>
        <a class={mobileStyle1} href="#">Contact Us</a>
      </div>
    </div>
  </div>
  <!--desktop -->
  <div class="container mx-auto" >
    <div class="hidden  justify-between lg:flex">
      <div class="fit">
        {
  
          headerJson.links.map((linkSet) => (
            <a
              class={
                (linkSet[0] === currentPage
                  ? "border-b-esl-c-3 hover:border-b-esl-c-2 "
                  : "border-b-transparent hover:border-b-esl-c-3 ") +
                (linkSet[0] === "Home" ? "ml-0 " : "") +
                style1
              }
              href={linkSet[1]}
            >
              {linkSet[0]}
            </a>
          ))
        }
      </div>
      <div class="fit inline-block lg:block">
        <a class={style2 + " mr-2"} href="#">Register</a>
        <a class={style2} href="#">Login</a>
        <a class={style2 + " ml-2"} href="#">Contact Us</a>
      </div>
    </div>
  </div>
</nav>
<script>
  let toggle:HTMLButtonElement = document.querySelector(".menu-toggle")!;
  toggle.addEventListener('click',()=>{
    document.querySelector('.m-nav')!.classList.toggle("open");
  });


</script>
<style>
  .m-nav.open .burger{
    display: none;
} 
  .m-nav.open .m-close{
   display: block;
  }
  .m-nav.open .burger-items {
    max-height: 100vh;
  }
</style>